#movies img, #movie img {
	width: 100%;
}

@media(min-width: 960px) {
#movies .col-md-3 {
	height: 390px;
}

#movies img {
	height: 240px;
}
}
h5 {
	min-height: 40.2px;
}
.btn btn-default{
    height: 93.6px;
    width: 38px;
}